<center>
  <div class="jumbotron">
    <table class="table">
     	<div class="panel panel-default">
      	<div class="panel-heading"><h4><%= @cards.original_text %></h4></div>
          <% if @cards.avatar_url %>
            <%= image_tag @cards.avatar_url %><br>
          <% end %>
       		<tr>
       	 		<td><b>Оригинальный текст</td>
       	 		<td><b>Переведенный текст</td>
       	 		<td><b>Дата просмотра</td>
        	</tr>
    		  <tr>
    		    <td><%= @cards.original_text %></td>
     		    <td><%= @cards.translated_text %></td>
    		    <td><%= @cards.review_date.strftime("%d.%m.%Y") %></td>
    		  </tr>
          <tr>
            <div class="btn-group" role="group">
                  <td><%= link_to 'Посмотреть', card_path(@cards), class: 'btn btn-info' %></td>
                  <td><%= link_to 'Редактировать', edit_card_path(@cards), class: 'btn btn-warning' %></td>
                  <td><%= link_to 'Удалить', card_path(@cards), class: 'btn btn-danger',
                                                           method: :delete,
                                                             data: { confirm: 'Вы уверены, что хотите удалить?' } %></td>
                </div>
          </tr>
    	</div>
    </table>

  </div>
</center>
